.container {
    width: 440px;
    margin: 50px auto;
}

.container a {
    display: block;
    background-color: #1db2bdfd;
    box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.63);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

@media (max-width:600px) {
    .container {
        width: 320px;
    }
}